<ul>
<h4> Manufacturers </h4>
<div class="field" >
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field" >
  <%= f.label :address %>
  <%= f.text_field :address %>
</div>
</ul>
